@model List<Doctor>

@{
    ViewData["Title"] = "Doctors";
}

<table class="table">
    <thead>
        <tr>
            <td></td>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Phone</th>
            <th scope="col">NDC Number</th>
            <th scope="col">Qualification</th>
            <th scope="col">Speciality</th>
            <th scope="col">Gender</th>
            <th scope="col">Date of Birth</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var doc in Model)
        {
            <tr>
                <td>
                    <a href="/doctors/edit/@doc.Id"><i class="bi bi-pencil text-warning"></i></a>
                    <a href="/doctors/delete/@doc.Id"><i class="bi bi-trash2 text-danger"></i></a>
                </td>
                <td>@doc.FullName</td>
                <td>@doc.Address</td>
                <td>@doc.Phone</td>
                <td>@doc.NDCNumber</td>
                <td>@doc.Qualification</td>
                <td>@doc.Specialization</td>
                <td>@doc.Gender</td>
                <td>@doc.DOB.ToLongDateString()</td>
            </tr>
        }
    </tbody>
</table>
